.weather-app-wrapper {
  max-width: 600px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.weather-app {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #e46161;
  padding: 40px;
  border-radius: 5px;
}

a {
  text-decoration: underline;
}
